<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="website-header">
        <h1>Chat Modul for Webnodes CMS</h1><span id="logo"></span>
        <div class="horizontal-line"></div>
        <p>
            Vi i gruppe 32 utvikler i samarbeid med <a href="http://webnodes.no">webnodes</a> en chat modul som kundene deres kan bruke
        </p>
    </div>
    <div class="navbar-header">
        <button type="button" id="meny-knapp" class="navbar-toggle collapsed btn btn-block" data-toggle="collapse" data-target="#hoved-meny" aria-expanded="false">
          Meny<i class="material-icons">&#xE313;</i>
        </button>
    </div>
    <div class="container-full">
        <div class="collapse navbar-collapse" id="hoved-meny">
            <ul class="nav navbar-nav navbar-center">
                <li><a href="/om-oss">Om oss<span class="triangle-down"></span></a></li>
                <li><a href="/dokumentasjon">Dokumentasjon<span class="triangle-down"></span></a></li>
                <li><a href="/page/1">Prosjekt Dagbok<span class="triangle-down"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
