<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>

    <header>
        <% include ./partials/header %>
    </header>

    <main id="om-oss" class="container">
        <h3><a href="<%- categoryUrl(category) %>">posts in category * <%= category %></a></h3>

        <% posts.forEach(function(post){ %>
            <% include ./postSnippet.ejs %>
                <% }) %>
    </main>

    <% include ./partials/footer.ejs %>
