body {
  background-color: #ecf0f1;
  font-family: 'Ubuntu', sans-serif; }

.section-header {
  display: block;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5em; }
  .section-header h2 {
    font-weight: 700;
    font-size: 1.7em; }

.navbar-default {
  border-width: 0;
  -webkit-box-shadow: 0 0;
  box-shadow: 0 0;
  background-image: none;
  background-color: #2ecc71;
  border-radius: 0;
  z-index: 99999999;
  position: relative;
  text-align: center; }
  .navbar-default .website-header {
    padding-top: 4em;
    color: black;
    padding-left: 2em;
    padding-right: 2em; }
    .navbar-default .website-header .horizontal-line {
      max-width: 60em;
      background-color: black;
      height: 1px;
      margin: 1em auto; }
    .navbar-default .website-header h1 {
      display: inline-block;
      font-weight: 700;
      font-size: 4em;
      vertical-align: bottom; }
    .navbar-default .website-header #logo {
      display: inline-block;
      width: 5em;
      height: 7em;
      background-image: url("/img/logo.png");
      background-position: center;
      background-size: auto 100%;
      background-repeat: no-repeat;
      position: relative;
      top: 10px; }
    .navbar-default .website-header p {
      font-size: 1.3em; }
  .navbar-default .navbar-header .navbar-brand {
    color: white;
    line-height: 2.5em; }
  .navbar-default .navbar-header #meny-knapp {
    float: none !important;
    max-width: 90%;
    margin: 1em auto;
    border-color: black; }
    .navbar-default .navbar-header #meny-knapp i {
      vertical-align: middle; }
  .navbar-default .navbar-header #meny-knapp:focus,
  .navbar-default .navbar-header #meny-knapp:hover {
    background-color: #449d44; }
  .navbar-default #hoved-meny {
    background-color: #27ae60;
    padding: 0; }
    @media only screen and (min-width: 768px) {
      .navbar-default #hoved-meny {
        margin-top: 4em; } }
    .navbar-default #hoved-meny .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top; }
      .navbar-default #hoved-meny .navbar-nav .active a {
        background-color: #27ae60; }
        .navbar-default #hoved-meny .navbar-nav .active a .triangle-down {
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #27ae60;
          position: absolute;
          bottom: -20px;
          left: 50%; }
        @media (max-width: 768px) {
          .navbar-default #hoved-meny .navbar-nav .active a .triangle-down {
            display: none; } }
      .navbar-default #hoved-meny .navbar-nav > li {
        font-size: 1.4em; }
        .navbar-default #hoved-meny .navbar-nav > li > a {
          color: black;
          padding-bottom: 1em; }
        .navbar-default #hoved-meny .navbar-nav > li a:visited {
          color: black; }
        .navbar-default #hoved-meny .navbar-nav > li a:hover {
          color: red; }

#hoved-side-boks-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-image: url("/img/bg/bg6.jpeg");
  background-size: cover; }
  #hoved-side-boks-container #hoved-side-boks {
    box-sizing: border-box;
    padding: 2.5em;
    text-align: center;
    color: #f1f1f1;
    display: none;
    font-family: 'Lora', serif;
    background-color: #0f0f0f;
    margin: 1em;
    border-radius: 0.5em;
    opacity: 0.88; }
    #hoved-side-boks-container #hoved-side-boks #hoved-side-boks-tittel h1 {
      font-weight: 700;
      font-size: 4em; }
      @media (max-width: 992px) {
        #hoved-side-boks-container #hoved-side-boks #hoved-side-boks-tittel h1 {
          font-size: 3em; } }
      @media (max-width: 768px) {
        #hoved-side-boks-container #hoved-side-boks #hoved-side-boks-tittel h1 {
          font-size: 2em; } }
    #hoved-side-boks-container #hoved-side-boks #hoved-side-boks-body {
      margin-top: 2em; }
      #hoved-side-boks-container #hoved-side-boks #hoved-side-boks-body p {
        max-width: 38em;
        text-align: left;
        font-size: 1.3em; }
        @media (max-width: 992px) {
          #hoved-side-boks-container #hoved-side-boks #hoved-side-boks-body p {
            font-size: 1.1em; } }
        @media (max-width: 768px) {
          #hoved-side-boks-container #hoved-side-boks #hoved-side-boks-body p {
            font-size: 1em; } }

#om-oss {
  margin-top: 5em; }
  #om-oss .row {
    margin-left: 0;
    margin-right: 0; }
    #om-oss .row div[class^="col-"] {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0; }
  #om-oss .gruppe-medlem-container {
    border-radius: 0.3em;
    margin-bottom: 2em; }
    #om-oss .gruppe-medlem-container .gruppe-medlem-panel {
      padding: 2em;
      border: 1px solid #ddd;
      background-color: white; }
      #om-oss .gruppe-medlem-container .gruppe-medlem-panel .gruppe-medlem-panel-heading .gruppe-medlem-bilde {
        display: block;
        width: 10em;
        margin: 0 auto; }
        #om-oss .gruppe-medlem-container .gruppe-medlem-panel .gruppe-medlem-panel-heading .gruppe-medlem-bilde img {
          width: 100%;
          border-radius: 10em; }
      #om-oss .gruppe-medlem-container .gruppe-medlem-panel .gruppe-medlem-panel-body {
        padding: 2em 0; }
        #om-oss .gruppe-medlem-container .gruppe-medlem-panel .gruppe-medlem-panel-body .gruppe-medlem-tittel .gruppe-medlem-navn {
          font-size: 1.3em;
          font-weight: 700;
          text-align: center; }
        #om-oss .gruppe-medlem-container .gruppe-medlem-panel .gruppe-medlem-panel-body .gruppe-medlem-felter {
          text-align: left;
          display: block;
          margin: 0 auto;
          max-width: 14em; }
  #om-oss .ferdigheter .panel .panel-heading h4 {
    font-weight: 700; }
  #om-oss .ferdigheter .panel .panel-body {
    padding: 1em 2em; }
    #om-oss .ferdigheter .panel .panel-body .ferdighet {
      margin: 0.5em; }
      #om-oss .ferdigheter .panel .panel-body .ferdighet .ferdighet-bar {
        height: 1em;
        background-color: green; }

#dokumentasjon {
  margin-top: 5em; }
  #dokumentasjon div[class^="col-md"] {
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid #ddd; }
  #dokumentasjon .felt-tittel h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0; }
  #dokumentasjon .felt-dato {
    color: #afafaf;
    margin-bottom: 0.8em; }
  #dokumentasjon .type-tittel {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em; }
  #dokumentasjon .felt-knapp {
    height: 100%;
    width: 100%; }
    #dokumentasjon .felt-knapp a {
      height: 100%;
      width: 100%; }
      #dokumentasjon .felt-knapp a i {
        font-size: 2.4em; }
        @media only screen and (max-width: 768px) {
          #dokumentasjon .felt-knapp a i {
            font-size: 1em; } }

#prosjekt-dagbok {
  text-align: center; }
  #prosjekt-dagbok .post {
    border-bottom: 1px solid #ddd;
    max-width: 55em;
    margin: 0 auto; }
    #prosjekt-dagbok .post .post-heading .post-title {
      text-align: center; }
      #prosjekt-dagbok .post .post-heading .post-title h3 {
        font-weight: 700;
        margin-bottom: 0.2em; }
    #prosjekt-dagbok .post .post-heading .date {
      display: block;
      color: #afafaf;
      margin-bottom: 0.8em;
      text-align: center; }
    #prosjekt-dagbok .post .content {
      text-align: left;
      margin: 0 auto; }
      #prosjekt-dagbok .post .content .post-thumbnail {
        width: 100%;
        max-width: 55em;
        height: 16em;
        margin: 1em 0em;
        background-size: cover;
        background-position: top; }
      #prosjekt-dagbok .post .content .poet-read-more {
        text-align: right; }
  #prosjekt-dagbok .pagination .active a {
    background-color: #2ecc71;
    border-color: #27ae60; }

/*# sourceMappingURL=main.css.map */
