<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main id="dokumentasjon" class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="felt-tittel">
                            <h3>Forprosjekt Rapport</h3>
                        </div>
                        <div class="felt-dato">
                            20.01.2017
                        </div>
                        <div class="felt-beskrivelse">
                            Consequat laboris nulla dolor sit ad est nulla.
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="type-tittel">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="felt-knapp">
                                    <a href="http://student.cs.hioa.no/~s236315/Bachelor/Forprosjektrapport.pdf" download="Forprosjektrapport.pdf" class="btn btn-warning btn-lg"><i class="material-icons">&#xE2C4;</i></a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="felt-knapp">
                                    <a href="http://student.cs.hioa.no/~s236315/Bachelor/Forprosjektrapport.pdf" class="btn btn-primary btn-lg"><i class="material-icons">&#xE894;</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="felt-tittel">
                            <h3>Prosjektskisse</h3>
                        </div>
                        <div class="felt-dato">
                            10.12.2016
                        </div>
                        <div class="felt-beskrivelse">
                            Consequat laboris nulla dolor sit ad est nulla.
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="type-tittel">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="felt-knapp">
                                    <a class="btn btn-warning btn-lg"><i class="material-icons">&#xE2C4;</i></a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="felt-knapp">
                                    <a class="btn btn-primary btn-lg"><i class="material-icons">&#xE894;</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
