<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main class="container">
        <div id="hoved-side-boks-container">
            <div id="hoved-side-boks">
                <div id="hoved-side-boks-tittel">
                    <h1>Gruppe 32: Webnodes Chat Module </h1>
                </div>
                <div id="hoved-side-boks-body">
                    <p> I samarbeid med Webnodes utivkler vi en chat modul som vil tilpasse flest mulig av deres kunder. </p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
