<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main id="om-oss" class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-header">
                    <h2>Gruppe medlemmer</h2>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="gruppe-medlem-container">
                    <div class="gruppe-medlem-panel">
                        <div class="gruppe-medlem-panel-heading">
                            <div class="gruppe-medlem-bilde">
                                <img src="/img/profil-bilder/adam.jpg" alt="" />
                            </div>
                        </div>
                        <div class="gruppe-medlem-panel-body">
                            <div class="gruppe-medlem-tittel">
                                <h4 class="gruppe-medlem-navn">Adam Asskali</h4>
                            </div>
                            <div class="gruppe-medlem-felter">
                                <p class="gruppe-medlem-felt gruppe-medlem-linje">Dataingeniør</p>
                                <p class="gruppe-medlem-felt gruppe-medlem-epost">adam.asskali@gmail.com</p>
                            </div>
                        </div>
                        <div class="gruppe-medlem-panel-footer">
                            <button class="btn btn-danger btn-block">Linkedin</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="gruppe-medlem-container">
                    <div class="gruppe-medlem-panel">
                        <div class="gruppe-medlem-panel-heading">
                            <div class="gruppe-medlem-bilde">
                                <img src="/img/profil-bilder/anmer.png" alt="" />
                            </div>
                        </div>
                        <div class="gruppe-medlem-panel-body">
                            <div class="gruppe-medlem-tittel">
                                <h4 class="gruppe-medlem-navn">Anmer Seif</h4>
                            </div>
                            <div class="gruppe-medlem-felter">
                                <p class="gruppe-medlem-felt gruppe-medlem-linje">Dataingeniør</p>
                                <p class="gruppe-medlem-felt gruppe-medlem-epost">anmer.seif@gmail.com</p>
                            </div>
                        </div>
                        <div class="gruppe-medlem-panel-footer">
                            <button class="btn btn-danger btn-block">Linkedin</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="gruppe-medlem-container">
                    <div class="gruppe-medlem-panel">
                        <div class="gruppe-medlem-panel-heading">
                            <div class="gruppe-medlem-bilde">
                                <img src="/img/profil-bilder/sara.jpg" alt="" />
                            </div>
                        </div>
                        <div class="gruppe-medlem-panel-body">
                            <div class="gruppe-medlem-tittel">
                                <h4 class="gruppe-medlem-navn">Sara Khan</h4>
                            </div>
                            <div class="gruppe-medlem-felter">
                                <p class="gruppe-medlem-felt gruppe-medlem-linje">Dataingeniør</p>
                                <p class="gruppe-medlem-felt gruppe-medlem-epost">sarakhan.95@hotmail.com</p>
                            </div>
                        </div>
                        <div class="gruppe-medlem-panel-footer">
                            <button class="btn btn-danger btn-block">Linkedin</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Ferdigheter</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ferdigheter">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4>Programmeringsspråk</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="Java" data-ferdighetverdi="90">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="C#" data-ferdighetverdi="75">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="Javascript" data-ferdighetverdi="70">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="PHP" data-ferdighetverdi="60">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="C" data-ferdighetverdi="50">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4>Rammeverk</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="JavaFX" data-ferdighetverdi="90">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="Java Swing" data-ferdighetverdi="90">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="ReactJS" data-ferdighetverdi="80">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel=".Net" data-ferdighetverdi="75">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="Angular 1" data-ferdighetverdi="60">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="Nodejs" data-ferdighetverdi="50">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="SCSS" data-ferdighetverdi="50">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="SignalR" data-ferdighetverdi="50">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4>Design</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="HTML" data-ferdighetverdi="90">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="CSS" data-ferdighetverdi="90">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="Photoshop" data-ferdighetverdi="80">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="Gimp" data-ferdighetverdi="75">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ferdighet" data-ferdighettittel="Inkspace" data-ferdighetverdi="70">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
